
/* Стилі для десктопного вигляду */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}


.header__nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header__nav a {
    text-decoration: none;
    color: #fff;
}

/* Стилі для мобільного вигляду */
@media (max-width: 768px) {
    .header__nav {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        z-index: 1;
    }

    .header__nav.active {
        display: flex;
        justify-content: flex-end; /* Вирівнюємо кнопки до правої сторони */
    }

    .header__burger {
        display: block;
        cursor: pointer;
        padding: 10px;
        background-color: #333;
    }

    .burger {
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s;
    }

    .burger.active .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger.active .line2 {
        opacity: 0;
    }

    .burger.active .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

